@model Vets.Models.Veterinarios 
    @*obter, nesta vies, apenas um unico objeto*@

@{
    ViewData["Title"] = "Detalhes do " +Model.Nome;
}

<h1>Veterinário</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumCedulaProf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumCedulaProf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fotografia)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/Imagens/Vets/@Model.Fotografia" alt="fotografia de @Model.Nome" title="@Model.Nome" height="300"/>
        </dd>
    </dl>
</div>

@* Lista das Consultas do Veterinario *@
<div>
    <h2>Lista de Consultas</h2>
    <table class="table">
        <tr>
            <th>
                Data da Consulta
            </th>
            <th>
                Animal
            </th>
            <th>
                Dono
            </th>
        </tr>
        @foreach (var consulta in Model.ListaConsultas)
        {
        <tr>
            <td>
                @*data da consulta*@
            </td>
            <td>
                @*nome do animal*@
            </td>
            <td>
                @*nome do dono do animal*@
            </td>
        </tr>
        }
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a> |
    <a asp-action="Index">Regressar à Listagem</a>
</div>
