@model Vets.Models.Veterinarios 
    @*obter, nesta vies, apenas um unico objeto*@

@{
    ViewData["Title"] = "Detalhes do " +Model.Nome;
}

<h1>Veterinário - Detalhes 2</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumCedulaProf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumCedulaProf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fotografia)
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.Fotografia)*@
            <img src="~/Imagens/Vets/@Model.Fotografia" alt="fotografia de @Model.Nome" title="@Model.Nome" height="300" />
        </dd>
    </dl>
</div>

@* Lista das Consultas do Veterinario *@
<div>
    @if (Model.ListaConsultas.Count == 0)
    {
        <h4>Não há dados da consulta a apresentar</h4>
    }
    else
    {
    <h2>Lista de Consultas</h2>
    <table class="table">
        <tr>
            <th>
                Data da Consulta
            </th>
            <th>
                Animal
            </th>
            <th>
                Dono
            </th>
        </tr>

        @foreach (var consulta in Model.ListaConsultas)
        {
            <tr>
                <td>
                    @*data da consulta*@
                    @consulta.Data
                </td>
                <td>
                    @*nome do animal*@
                    <a asp-action="Details" asp-controller="Animais" asp-route-id="@consulta.AnimalFK">
                        @consulta.Animal.Nome
                    </a>
                </td>
                <td>
                    @*nome do dono do animal*@
                    <a asp-action="Details" asp-controller="Donos" asp-route-id="@consulta.Animal.DonoFK">
                        @consulta.Animal.Dono.Nome
                    </a>
                </td>
            </tr>
        }
    </table>
    }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a> |
    <a asp-action="Index">Regressar à Listagem</a>
</div>
