@model IEnumerable<Vets.Models.Veterinarios>

@{
    ViewData["Title"] = "Veterinários";
}

<h1>Veterinários</h1>

@if (User.IsInRole("Administrativo")){
    //User.Identity.IsAuthenticated
<p>
    <a asp-action="Create">Adicionar Veterinário</a>
</p>
}
else
{
    <br/>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumCedulaProf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fotografia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumCedulaProf)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">
                    <img src="~/Imagens/Vets/@item.Fotografia" width="50" alt="fotografia de @item.Nome" title="@item.Nome" />
                </a>
            </td>
            <td>

                @if (User.Identity.IsAuthenticated)
                {
                <text>
                    <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Apagar</a>
                </text>
                }
            </td>
        </tr>
}
    </tbody>
</table>
